
.font-style-top{

          font-family:Georgia, 'Times New Roman', Times, serif;
          font-size: 50px;

          margin: 0px 50px 0px 5px;
          color:rgb(247, 116, 9);

}
.button-style-top{
    text-decoration: none;
    background-image: linear-gradient(rgb(250, 226, 148) , orangered );
    padding: 5px 20px;
    border-radius: 50px;
    color: honeydew;
    font-size: 25px;
    margin: 50px 30px 5px 60px;
}


.font-style{
    font-family: 'Encode Sans SC', sans-serif;
    font-size: 60px;

}
.display{
           display: flex;
           padding: 1%;

}
.font-margin{
    margin-top: 50px;

    padding: 5%;
}
span{
    color: orangered;
}
.font-family{
    font-family:monospace;
    color: rgb(95, 89, 89);
    font-size: x-large;
}
.button-style{
             text-decoration: none;
             background-image: linear-gradient(rgb(250, 163, 148) , orangered );
             padding: 20px 60px;
             border-radius: 50px;
             color: honeydew;
             font-size: 25px;
}

.image-width{
    width:173%;
   
}

.secound-display{
    display:flex;
    padding: 70px 50px 30px 280px; 
    margin-left: 0px;
}
.font-stylefor-secound-section{
    margin: 30px 90px 20px 300px;
}


.display-image{
    background-image: url(7.png);
    background-repeat: no-repeat;
    
}
.font-size{
             text-align: center;
             font-size: x-large;
}
.font-size-forrecipie{
    font-family:cursive;
    font-size:50px;
    color: rgb(53, 50, 50);
}
.display-for-thireddiv{
    display:flex;
    padding-left: 5%;
    padding-top: 3%;
    
}
.display-project1{

    padding:5px;
    box-shadow: 10px 10px 30px gray;
    margin:2px 50px 40px 5px;
    border-radius: 40px;
   
    
    
}

.display-project2{
    
    padding: 5px;
    box-shadow: 10px 10px 30px gray;
    margin:2px 50px 40px 5px;
    border-radius: 40px;
    
}
.display-project3{
    
    padding: 5px;
    box-shadow: 10px 10px 30px gray;
    margin:2px 50px 40px 5px;
    border-radius: 40px;
}
.image-for-thireddiv{

             
             width:90%;
             height: 50%;
             border-radius: 30px;
            margin: 10px 5px 0px 15px;

}
.font-size-forrecipietitle{

           font-family: cursive;
           font-size: 35px;
           margin-left: 10px;
           

}
.font-size-forrecipiefood{
                    font-size: 15px;
                    font-family:monospace;
                    text-align:left;
                    margin-left: 10px;
                    color: rgb(27, 21, 21);

}
.font-style-forthdiv{
                  
                   font-family:Verdana, Geneva, Tahoma, sans-serif;
                  
                    
                   margin-left: 50px;  
                   margin-bottom: 80px;
}
.bg-image{

 background-image: url(foodcover2.png);
    height: 500px;
    
}
.display-forthdiv{
    
    padding: 5%;
    background-image: url(foodcover2.png);

}
.button-style-forthdiv{
    text-decoration:violet;
    background-image: linear-gradient(rgb(153, 230, 11) , orangered );
    padding: 10px 40px;
    border-radius: 50px;
    color: rgb(204, 255, 204);
    font-size: 25px;
}
.login-form-style{
          
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          font-size: 30px;
          color: rgb(15, 13, 8);
          border-radius: 20px;
          padding: 10px 40px;
          background-image: linear-gradient(rgb(243, 104, 11),rgb(255, 26, 9));
          margin: 0px 700px 2px 50px;
}
.button-style-login{
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 179, 169) , rgb(255, 69, 1) );
    padding: 5px 15px;
    border-radius: 50px;
    color: honeydew;
    font-size: 10px;
}
.follower-display{
    display: flex;
    background-image: linear-gradient(white , rgb(231, 231, 236));
    height: 200px;
    margin: 40px 250px 50px 250px;
    border-radius: 30px;
    
}
.follower-font{
    
    padding: 20px 60px 30px 70px;
}

.footer-display{

           background-image: linear-gradient(rgba(7, 7, 7, 0.075) , rgb(4, 4, 39));
           height: 250px;
}
footer{
     margin: 5px 500px 5px 500px;

}
footer h1{
    font-size: 50px;
    color: rgba(238, 128, 43, 0.658);
}
footer h2{
    font-size: 20px;
}
